$font-common: 'Roboto', sans-serif;

$font-size-normal: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$break-point-tablet-less: "(max-width: 736px)";

$header-height: 50px;

$gutter-small: 5px;
$gutter-normal-small: 8px;
$gutter-normal: 10px;
$gutter-large: 20px;

$background-normal: #c9c9c9;

$border-color-normal: #ccc;

$color-lighter: #ffffff;
$color-light: #f1f1f1;
$color-medium-lighter: #c9c9c9;
$color-medium-light: #ccc;
$color-medium: #888888;
$color-dark: #444444;
$color-darker: #222;
$color-link: #4466ff;
$color-success: #47a447;

$icon-play: '\f04b';
$icon-pause: '\f04c';
$icon-map: '\f279';
$icon-position: '\f041';
